.footer {
    margin: 0.1rem 1rem;
    /* background: #1a2b6d; */
    background: #222;
    height: 40vh;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 18vh;
    color: white;
}

.lft p{
    padding-left: 1.2rem;
}
.lft h4{
    padding-top: 1rem;
}

.rght {
  width: 35%;
  font-size: 1.1rem;
  margin-right: 2rem;
}

.para {
    padding-bottom: 1rem;
}

.rght p{
    padding-bottom: 1rem; 
}

.link {
    color: white;
}

.mobile {
    display: none;
}


@media screen and (max-width: 768px) {
    .footer{
        margin: 0.1rem 0;
        height: auto;
    }

    .foot {
      display: grid;  
      justify-content: space-between;
      grid-template-columns: 1fr;
      grid-gap: 50px;
      padding: 4rem 2rem;
    }

    .lft {
        font-size: 1.2rem;
    }

    .rght {
        font-size: 1.4rem;
        width: 100%;
    }
}