.form-con {
    margin: 0.1rem 1rem;
    background: aliceblue;
    height: auto;
    padding-bottom: 4rem;
}

.head{
    text-align: center;
    padding-top: 6rem;
}

.sub {
    text-align: center;
}

.form-con form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.form-con input {
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border-radius: 0.4rem;
    border: 1px solid #2a2a2a;
  }
  
  .form-con textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid #2a2a2a;
  }

  .form-con label {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0.2rem;
    text-align: start;
  }
  
  .form-con button {
    display: inline;
    background: springgreen;
  }

  .form-con button:hover {
    background: slateblue;
    color: white;
  }


  @media screen and (max-width: 768px) {
    .form-con {
        margin: 0.1rem 0;
    }

    .head {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    .form-con form {
        padding-top: 2rem;
        width: 80%;
      }
  }