.hero {
    width: 100%;
    align-items: center;
    height: 60vh;
    position: relative;
    padding-top: 1.4rem;
    
    padding-left: 1rem;
    
  }
  
  .proj {
    width: 100%;
    align-items: center;
    height: 74vh;
    position: relative;
    padding-top: 1.4rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
  }

  .con {
    width: 100%;
    align-items: center;
    height: 74vh;
    position: relative;
    padding-top: 1.4rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
  }
  
  
  img {
    width: 99%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    background: orangered;
    /* padding-top: 0.1rem !important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .con h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    background: white;
    /* padding-top: 0.1rem !important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .hero-text p {
    font-size: 1.5rem;
    padding: 0.5rem 0 2rem 0;
    color: white;
    font-weight: 400;
  }
  
  .hero-text .show {
    text-decoration: none;
    background: wheat;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #222;
  }
  
  .hero-text .hide {
    display: none;
  }
  
  @media screen and (max-width: 555px) {

    .hero {
      padding-left: 0;
      height: auto;
    }

    .proj {
      height: auto;
      padding-left: 0;
    }


    .con {
      height: auto;
      padding-left: 0;
    }

    img {
      height: 50%;
    }
    
    .hero-text {
      top: 25%;
    }

    .hero-text h1 {
      padding: 10px 20px;
    }
  
    .hero-text p {
      font-size: 1.1rem;
      padding: 0 0 2rem 0;
    }
  
    .hero-text .show {
      padding: 0.6rem 1.1rem;
      border-radius: 6px;
      font-size: 1rem;
    }
  }
  