.info {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-left:  1rem;
  background: wheat;
  height: 70vh;
}

.text {
  
  width: 60%;
  font-size: 1.1rem;
  margin-right: 2rem;
  text-align: center;
}

.text h2 {
    padding-bottom: 1rem;
  }

.first {
    padding-bottom: 2.2rem;
}

.secd {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    
    
}
/* 
.image {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    
  } */
  
  .image img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    border-radius: 6px;
    box-shadow: none;
    /* box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.1); */
  }
  

  button {
    align-items: center;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.4rem;
    background-color: skyblue;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  button:hover{
    background-color: navy;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .info {
      margin-top: 2.5rem;
      margin-right: 0;
      margin-left:  0;
      display: grid;  
      justify-content: space-between;
      height: auto;
    }

    .image {
      width: 100%;
      padding-top: 0.8rem;
      padding-right: 2rem;
    }

    .image img {
      height: 300px;
    }

    .text {
      width: 100%;
      padding: 1rem; 
      text-align: center;
    }

    .secd {
      font-size: 1rem;
    }
  }
