.NavItems {
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
  }

  h1,h4,p,a {
    text-decoration: none;
  }
  
  .NavItems h1 {
    color: #222;
    cursor: pointer;
    font-size: 2rem;
  }

  .menu-icons {
    display: none;
  }
  
  .nav-menu {
    display: flex;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
  }
  
  .nav-links {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }

  .nav-links:hover {
    /* background-color: rgb(71, 163, 200); */
    background-color: black;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }

  @media screen and (max-width: 1040px) {
    .NavItems {
        z-index: 99;
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: skyblue;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
      }

      .nav-menu.active {
        align-items: center;
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }
    
      .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 5rem;
        
      }
      .nav-links:hover {
        background: black;
        color: white;
        border-radius: 1rem;
        transition: none;
      }

      .menu-icons {
        display: block;
        cursor: pointer;
      }
  }
  