.pubintro {
    margin: 0.1rem 1rem;
    background: whitesmoke;
    /* background: blanchedalmond; */
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .pubintro {
        margin: 0.1rem 0;
    }
}