.research {
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 1rem;
    background: lavender;
    height: 55vh;
}

.list {
    width: 80%;
    padding-top: 10vh;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.title{
    width: 50%;
    padding-top: 25vh;
    padding-left: 5rem;
    font-size: 1.4rem;
}


@media screen and (max-width: 768px) {
    .research {
        display: grid;
        justify-content: space-between;
        height: auto;
        margin: 0.1rem 0;
    }
    .title {
        width: 100%;
        text-align: center;
        padding-top: 8vh;
        padding-left: 0;
        font-size: 1.3rem;
    }

    .list {
        width: 100%;
        padding: 5vh 6vh;
    }
}